{% extends "base.html" %}
{% load static %}

{% block content %}

  <h1>Salvar Cor do Olho </h1>

  <form method="post">
    <nav>
      <input value="Listar" type="submit" formaction="{% url "salvar_olho" "home" %}">
      <input value="Dados" type="submit"  formaction="{% url "salvar_olho" "editar_dados" %}">
      <input value="Cor do Olho" type="submit" formaction="{% url "salvar_olho" "cor_do_olho" %}">
  </nav>
    {% csrf_token %}
    
    {% for cor_do_olho in eye_colors %}
      <label>
      <input type="radio" name="eye_color" 
            {% if cor_do_olho.id == person.eye_color.id %}
              checked
            {% endif%}
            value="{{ cor_do_olho.id }}"> {{ cor_do_olho.color_name}}
      </label>

    {% endfor %}
    <input type="hidden" value="{{ person.id }}" name="person_id">
    <input value="Salvar e Listar Pessoas" type="submit" formaction="{% url "salvar_olho" "home" %}"> 
  </form>

{% endblock %}
