html, body {
  height: 100%;
}
tbody a img{
  height: 30px;
  cursor: pointer;
}
form{
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin-top: 5px;
  text-align: left;
  padding: 10px 5px;
  margin: 0 auto;
}
input[type="number"]{
	width:70px;
}
input[type="file"]{
  font-size: 14pt;
}
input{
  margin-bottom: 10px;

}
label{
  font-family: sans-serif;
}
#icone{
  position:relative;
  display: inline-block;
  margin: 0px 10px;
}
#icone span{
  position: absolute;
  right: -5px;
  top:0px;
  font-size: 9pt;
  cursor:pointer;
  right: -8px;
  top: -3px;
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}
.escondido{
  display: none!important;
}
.login{
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin: 20% 10%;
  display: flex;
  justify-content: center;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add {
    text-decoration: none;
    color: black;
    position: absolute;
    right: 0;
    display: block;
    background-color: rgb(255, 215, 0);
    width: 25px;
    border-radius: 12px;
    bottom: -25px;
    right: 5px;
    font-size: 15pt;
    border: 1px solid black;

}

.login input{
  margin-bottom: 30px;
  height: 30px;
  font-size: 14pt;
}
button{
  font-size: 15pt;
  padding: 10px 15px;
  margin: 0 auto;
}
input[type="submit"],button{
  background-color: lightblue;
  color: #2a2b77;
  margin-bottom: 10px;
border-radius: 10px;
}

nav{
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}
input{
  height: 30px;
}
nav input{
  width: 20%;
}



.edit{
	width:20px;
}
body {
  margin: 0% 25%;
  font-size: 24px;
  text-align: center;
}

h1 {
  margin-top: 0;
  color: rgb(32, 53, 122);
  text-shadow: 2px 2px black;
}

p, caption {
  background-color: rgba(255, 255, 255, .85);
}
p{
  margin-top:30px;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td,th {
  padding: 3px 10px;
}

tbody {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: white;
}

tfoot, thead {
  border: 1px solid black;
}

tfoot {
  background-color: lightsteelblue;
}

thead {
  background-color: lightgreen;
}

caption {
  font-size: 75%;
  font-style: italic;
}
